{% extends 'base.html' %}
{% block body %}
    <div id="auth-forms">
        <div class="wrapper-auth">
            <div class="auth_header">
                <h3>PLEASE, SIGN IN:</h3>
            </div>
            {% if not_find_user %}
                <span class="error"> 
                    <h5>Login or password is incorrect.</h5>
                </span>
            {% elif not_logged%}
                <span class="error"> 
                    <h5>Please, sign up</h5>
                </span>
            {% endif %}
            <div class="wrap-auth-form">
                <form action="/" class="auth" method="POST">
                    <input type="text"     class="inp_text" id="login" name="login" placeholder="Login" required>
    
                    <br>
    
                    <input type="password" class="inp_text" id="pwd" name="pwd" placeholder="Password"  required>
                    
                    <br>
                    <input type="submit"   class="inp_submit" value="Enter">
                </form>
            </div>
            <form action="/regist/">
                <input type="submit" class='regist' value='Registration'>   
            </form>            
        </div>
    </div>
{% endblock %}